.copyright
	- var authorURL = "https://github.com/jeremyfan";
	- var hexoURL = "https://hexo.io/";
	- var artemisURL = "https://github.com/jeremyfan/hexo-theme-artemis";
	- var currentDate = new Date();
	- var year = currentDate.getFullYear();
	- year = year == theme.startyear ? year : theme.startyear + ' - ' + year;

	p © #{year} (●ﾟωﾟ●) #[a(href=authorURL, target="_blank")!=config.author], powered by #[a(href=hexoURL, target="_blank") Hexo] and #[a(href=artemisURL, target="_blank") hexo-theme-artemis].